SITE_URL=https://site-nba-ten.vercel.app

VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

API_FOOTBALL_KEY=
RAPIDAPI_BET365_KEY=
RAPIDAPI_BET365_HOST=bet36528.p.rapidapi.com

ANTHROPIC_API_KEY=
BALLDONTLIE_KEY=
PROXY_URL=
